.Slider {
  position: fixed;
  width: 100%;
  height: 3px;
  overflow-x: hidden;
  top: 0;
  left: 0; 
  right: 0;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  transition-delay: 1s;
}
.isActive {
    opacity: 1;
    transition-delay: 0s;
    
}

.Line {
  position: absolute;
  opacity: 0.4;
  background: #FFD700;
  width: 150%;
  height: 5px;
}

.Subline {
  position: absolute;
  background: #FFD700;
  height: 5px;
}
.Inc {
  animation: increase 2s infinite;
}
.Dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
